<html>
    <head>

</head>
    <body>
        <script>
    var source = new EventSource("/tracks/all");
    source.addEventListener('message', function (e) {
        console.log(e.data);
    }, false);

    source.addEventListener('addPoint', function (e) {
        console.log('addPoint: ' + e.data);
    }, false);

    source.addEventListener('open', function (e) {
        console.log('Connection was opened.');
    }, false);

    source.addEventListener('error', function (e) {
        if (e.readyState == EventSource.CLOSED) {
            console.log('Connection was closed.');
        } else {
            console.log('Connection had an error.');
        }
    }, false);
</script>
    </body>
</html>